<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th>Estado</th>
        <th>Producto</th>
        <th>Descripción</th>
    </tr>
    <tr *ngFor="let correo of correos; index as i;">
        <td>
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=true> Comprado
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=false> Comprar
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
    </tr>
</table>

<h2>Productos comprados: </h2>
<li *ngFor="let correo of correos; index as i;">
  <h3 *ngIf="correos[i].leido == true">{{correo.emisor}}</h3>
</li>


